In [46]:
import pandas as pd
import numpy as np

In [5]:
def numpy1(number):
    for i, idx in np.ndenumerate(number):
        return (idx,i)
        '''
    Return a numpy array that is enumerated from 0-the number.
    '''

In [6]:
a = np.array([[1, 2], [3, 4]])
print(numpy1(a))

1 (0, 0)
2 (0, 1)
3 (1, 0)
4 (1, 1)
None

In [141]:
arr = np.array([1, 2, 5, 8, 2, 8, 1, 2])
number = 2
def numpy2(arr, number):
    lst = []
    for i in arr:
        if i == number:
            lst.append(number)
    return np.array(lst)
    '''
    Return arr where each element in arr is equal to number

    eg. arr = np.array([1, 2, 5, 8, 2, 8, 1, 2]), number = 2
    returns: np.array([2, 2, 2])
    '''
print(numpy2(arr, number))

[2 2 2]

In [95]:
arr = np.array([1, 2, 5, 8, 2, 8, 9, 2])
def numpy3(arr, number):
    new_arr = []
    for i in arr:
        if i >= 3:
            new_arr.append(i)
    return np.array(new_arr)
    
        
    '''
    Return arr where each element in arr is greater than or equal to number

    eg. arr = np.array([1, 2, 5, 8, 2, 8, 9, 2]), number = 3
    returns: np.array([5, 8, 8, 9])
    '''
print(numpy3(np.array([1, 2, 5, 8, 2, 8, 9, 2]), number = 3))

[5 8 8 9]

In [36]:
arr = np.array([1, 2, 5, 8, 2, 8, 9, 2])
new_arr = np.empty(shape=[0,])
for i in arr:
    if i >= 3:
        np.append(new_arr, i, axis=0)
print(new_arr)

ValueError: all the input arrays must have same number of dimensions

In [44]:
arr2 = np.array([[1, 2, 4],
          [-1, 3, 1],
          [-5, 3, 2],
          [7, 1, 1]])
number = 1
def numpy4(arr, number):
    new_arr = []
    for row in arr:
        if row[0] >= 1:
            new_arr.append(row)
    return np.array(new_arr)
    
    '''
    Taking in a 2d array, return the rows where the first column is greater than or equal to the number

    eg. np.array([[1, 2, 4], 
                [-1, 3, 1],
                [-5, 3, 2], 
                [7, 1, 1]])
        number = 1

        returns: np.array([[1, 2, 4],  
                        [7, 1, 1]])
    '''
print(numpy4(arr2, number))

[[1 2 4]
 [7 1 1]]

In [111]:
df = pd.DataFrame(columns=['Name', 'Age', 'Sport'], 
                data=[['Morgan Abbitt', 50, 'Soccer'], 
                    ['Ryan Kasichainula', 40, 'Biking'],
                    ['Anne Barry', 72, 'Running']])
#df["Name"] = df["Name"].apply(lambda x: x.lower())
def pandas1(df):
    for i in df:
        df["Name"] = df["Name"].apply(lambda x: x.lower())
    return df
    '''
    Given a pandas dataframe with a specific column named 'Name', use the  `.apply()` method to turn
    the contents of that column to a lower case string. You can assume that everything in that column is a
    string. 

    After the column has been changed return the dataframe
    '''
print(pandas1(df))

                Name  Age    Sport
0      morgan abbitt   50   Soccer
1  ryan kasichainula   40   Biking
2         anne barry   72  Running

In [77]:
print(df)

                Name  Age    Sport
0      Morgan Abbitt   50   Soccer
1  Ryan Kasichainula   40   Biking
2         Anne Barry   72  Running

In [80]:
#df["Name"] = df["Name"].str.lower()
df["Name"] = df["Name"].apply(lambda x: x.lower())
#data['College'].apply(lambda x: x.upper()).head(10) 
#data['Name'] = data['Name'].str.upper()
print(df)

                Name  Age    Sport
0      morgan abbitt   50   Soccer
1  ryan kasichainula   40   Biking
2         anne barry   72  Running

In [55]:
print(df)

                Name  Age    Sport
0      morgan abbitt   50   Soccer
1  ryan kasichainula   40   Biking
2         anne barry   72  Running

In [62]:
df = pd.DataFrame(columns=['Name', 'Age', 'Sport'], 
                data=[['Morgan Abbitt', 50, 'Soccer'], 
                    ['Ryan Kasichainula', 40, 'Biking'],
                    ['Anne Barry', 72, 'Running']])
def pandas2(df, col):
    av_cl = df[col].mean()
    return av_cl
    '''
    Given a dataframe and a column, find the average of that column. Assumed the column is numeric.
    '''
print(pandas2(df, col = "Age"))

54.0

In [ ]:
s1 = Series(randn(5),index=[1,2,4,5,6])

In [4]: s2 = Series(randn(5),index=[1,2,4,5,6])

In [8]: DataFrame(dict(s1 = s1, s2 = s2)).reset_index()

In [146]:
ser1 = pd.Series(list('abcedfghij'))
ser2 = pd.Series(np.arange(10))
df = pd.DataFrame(dict(col1=ser1, col2 = ser2))
df

  col1  col2
0    a     0
1    b     1
2    c     2
3    e     3
4    d     4
5    f     5
6    g     6
7    h     7
8    i     8
9    j     9

In [64]:
ser1 = pd.Series(list('abcedfghij'))
ser2 = pd.Series(np.arange(10))
df = DataFrame(dict(s1=s1, s2 = s2))
def pandas3(ser1, ser2):
    df = DataFrame(dict(s1=s1, s2 = s2))
    '''
    Given two series of the same length, combine them into a dataframe

    eg. ser1 = pd.Series(list('abcedfghij'))
        ser2 = pd.Series(np.arange(10))

    returns   col1  col2
            0    a     0
            1    b     1
            2    c     2
            3    e     3
            4    d     4
            ...
    '''
    pass

In [66]:
def divisors(number):
    lst = []
    for i in range(1,number):
        if number % i == 0:
            lst.append(i)
    return lst
            
    '''
    Given a number return all of the divisors of that number. 
    '''
print(divisors(6))

[1, 2, 3]

In [115]:

# Python 3.x code to demonstrate star pattern
 
# Function to demonstrate printing pattern triangle
def triangle(n):
     
    # number of spaces
    k = n - 1
 
    # outer loop to handle number of rows
    for i in range(0, n):
     
        # inner loop to handle number spaces
        # values changing acc. to requirement
        for j in range(0, k):
            print(end=" ")
     
        # decrementing k after each loop
        k = k - 1
     
        # inner loop to handle number of columns
        # values changing acc. to outer loop
        for j in range(0, i+1):
         
            # printing stars
            print("* ", end="")
     
        # ending line after each row
        print("\r")
 
# Driver Code
n = 5
triangle(n)

    *
   * *
  * * *
 * * * *
* * * * *

In [ ]:
num_rows = int(input("Enter the number of rows"))
k = 0
for i in range(1, num_rows + 1):
for j in range (1, (num_rows - i) + 1):
print(end = " ")
while k != (2 * i - 1):
print("*", end = "")
k = k + 1
k = 0
print()
k = 2
m = 1
for i in range(1, num_rows):
for j in range (1, k):
print(end = " ")
k = k + 1
while m <= (2 * (num_rows - i) - 1):
print("*", end = "")
m = m + 1
m = 1
print()

In [123]:
num_rows = 3
k = 0
for i in range(1, num+1):
    for j in range(1, (num - i) +1):
        while k != (2 * i - 1):
            print("*", end = "")

In [116]:
num_rows = 3
k = 0
for i in range(1, num+1):
    for j in range(1, num - i) +1):
        while k != (2 * i - 1):
            print("*", end = "")
for i in range(1, num + 1):
for j in range (1, (num_rows - i) + 1):
print(end = " ")
while k != (2 * i - 1):
print("*", end = "")
k = k + 1
k = 0
print()
k = 2
m = 1
for i in range(1, num_rows):
for j in range (1, k):
print(end = " ")
k = k + 1
while m <= (2 * (num_rows - i) - 1):
print("*", end = "")
m = m + 1
m = 1
print()

IndentationError: expected an indented block (<ipython-input-116-f74fb0f9c07f>, line 4)

In [94]:
num = 3
def print_stars(num):
    for i in range(1, num+1):
        print("*"*(i+2))
    '''
    Given a number, num, print stars in the following sequence
    eg. num=3
    print: 
      *
     ***
    *****

    '''
print(print_stars(3))

**
***
****
None


#If you want to work on some SQL problems complete the first three problems in https://sqlzoo.net/wiki/SELECT_basics and 
# then move to the quiz https://sqlzoo.net/wiki/SELECT_Quiz

In [129]:

idx = pd.Index([5, 6, 7 ])
idx.to_series(index=['a', 'b', 'c'])

a    5
b    6
c    7
dtype: int64

In [133]:
lst = list(range(5,8,1))
lst

[5, 6, 7]

In [139]:
start = 5
length = 3
index = index=['a', 'b', 'c']
#lst = list(range(start, start+length, 1))
idx = pd.Index(list(range(start, start+length, 1)))
idx.to_series(index)

a    5
b    6
c    7
dtype: int64

In [ ]:
start = 5
start, length: int, int
    index: list
        Index of length "length"